.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: $blacklist-color;

  span {
    font-size: $text-x-lg;
    font-weight: 600;
  }
}
