@font-face {
  font-family: Avenir-Next;
  src: url("../assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf"),
    url("../assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf"),
    url("../assets/fonts/avenir-next/AvenirNextLTPro-It.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir-Next;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
