.filterWrapper {
  :global .MuiPaper-root {
    border-radius: math.div($radius-base, 2);
  }
}

.filterCloseButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  @include screen-lg {
    display: none;
  }
}

.filterContent {
  width: 100%;
  padding: 3em 1em;
  border-radius: math.div($radius-base, 2);
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .filterContentBtnGroup {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;

    :global .MuiButton-root {
      font-weight: 600;
      padding: 0.6em 1.5em;
      border-radius: $radius-base;

      &.MuiButton-contained {
        color: white;
      }
    }
  }

  :global .MuiFormControl-root {
    row-gap: 10px;
    label {
      color: $primary-color;
      font-weight: 500;
    }
    .MuiInputBase-root,
    .MuiInputBase-root {
      border-radius: $radius-base;

      .MuiSelect-select,
      .MuiInputBase-input {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
      }
    }
  }

  @include screen-md {
    width: 300px;
  }
}
